body {
    background-color: rgb(204, 195, 195);
}

.navbar {
    padding: 15px;
    padding-bottom: 0px;
    font-size: 15px;
}

.navbar li {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    color: rgb(48, 177, 177);
    border-radius: 0px;
}

.navbar-light .navbar-brand {
    color: rgb(252, 250, 250);
}

.navbar-brand {
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(48, 177, 177);
    padding: 10px;
    padding-bottom: 0px;
}

.dropdown-item {
    font-size: 13px;
}

.container {
    color: rgb(48, 177, 177);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
    padding-right: 0px;
    padding-left: 0px;
    margin: auto;
}

.container p {
    color: black;
}

#container-table {
    margin: 80px;
    background-color: white;
    padding: 50px;
    padding-top: 20px;
}

#container-comp {
    margin: 70px;
    background-color: white;
    padding: 40px;
    padding-top: 20px;
}

h1 {
    font-weight: bold;
}

h2 {
    color: rgb(48, 177, 177);
    font-weight: bold;
}

h3 {
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

h5 {
    font-weight: bold;
    text-align: center;
}

.box {
    padding: 20px;
    margin: 10px;
    color: rgb(48, 177, 177);
    justify-content: stretch;
}

.box p {
    color: black;
}

.box image {
    float:left;
}
.white {
    background: white;
}

#container{
    background: white;
}
#floated{
    float: left;
    width: 350px;
}
